$color-black: #000000;

.ticket-box {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 90% 10%;

  &__item-content, &__item-actions {
    padding: 10px;
    background-color: rgba($color-black, 0.2);
    border-radius: 5px;

    &--label {
      display: block;
    }

  }
}